<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
      data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
    <f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
        <f:form.validationResults for="{element.rootForm.identifier}.{element.identifier}">
            <f:form.password
                property="{element.identifier}"
                id="{element.uniqueIdentifier}"
                class="kern-form-input__input"
                errorClass="kern-form-input__input--error"
                additionalAttributes="{kux:formFieldAttributes(element: element, hasErrors: validationResults.errors.0, hasHint: element.properties.elementDescription)}"
            />
        </f:form.validationResults>
    </f:render>
</formvh:renderRenderable>
</html>
