<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
      data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
    <div class="kern-col-12 kern-col-{f:if(condition: element.properties.gridColumnClassAutoConfiguration.viewPorts.lg.numbersOfColumnsToUse, then: element.properties.gridColumnClassAutoConfiguration.viewPorts.lg.numbersOfColumnsToUse, else: 12)}-lg">
        <f:for each="{element.elements}" as="element">
            <f:render partial="{element.templateName}" arguments="{element: element}" />
        </f:for>
    </div>
</formvh:renderRenderable>
</html>
